.form {
  margin: 0 auto 20px;
  padding: 20px 40px;
  width: 300px;
  height: 200px;
  border: 1px solid #555;
  background-color: gray;
}

.labelName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
}

.inputName {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-weight: 400;
  border-radius: 10px;
}

.btnSubmit {
  margin-top: 20px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 25px;
  font-weight: 400;
  border-radius: 10px;
}

.btnSubmit:hover,
.btnSubmit:focus {
  background-color: crimson;
  color: white;
}

.phoneBook {
  margin: 0 auto;
  padding: 20px 40px;
  width: 300px;
  height: auto;
  border: 1px solid #555;
  background-color: #999;
}

.title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
}

.contactList {
  font-size: 30px;
  font-weight: 400;
}
